body {
	font-family: 'Lato', Verdana !important;
	text-align: center;
}

nav {
	background: #153151;
	color: #EFF4FB;
	padding: 10px;
	position: fixed !important;
	z-index: 1;
	opacity: 0.9;
}

header img {
	border-radius: 10px;
	max-height: 250px;
}

header {
	text-shadow: 1px 0px 1px gray;
	text-align: center;
}

i.info {
	position: relative;
	bottom: 15px;
}

section {
	text-align: left;
}

section ul {
	margin-top: 10px;
}

h1, h2, h3, h4 {
	font-family: 'Lato', Verdana;
}

section ul li {
	margin-left: 1rem;
}

#easter1, #easter2 {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

section h2 {
	font-size: 1.6rem;
	text-align: left;
	font-weight: bold;
	padding-top: 10px;
}

.container.dark section h2 {
	color: #DFEAF7;
}

.container.light section h2, .container.light section h3, footer h4, h1 {
	color: #153151;
}

.container.dark section h2 .underline {
	border-bottom: 3px solid #DFEAF7;
}

.container.light section h2 .underline {
	border-bottom: 	3px solid #153151;
}

.underline {
	padding-bottom: 4px;
}

.container.dark {
	background: #153151;
	color: #EFF4FB;
}

.container.light {
	background: #CEDFF2;
	color: #040A10;
}

div.container.first {
	padding-top: 80px;
}

ul#drop, ul#drop li, ul#drop li a {
	opacity: 1 !important;
}

#social img {
	max-height: 65px;
	min-height: 40px;
}

#social {
	padding-bottom: 20px;
	padding-top: 10px;
}

#skills blockquote {
	border-left: 4px solid #F54545;
	color: #333333;
	font-style: italic;
}

#skillsList {
	text-align: center;
}

#skillsList h4 {
	font-weight: bold;
	margin-bottom: 0;
	text-decoration: underline;
}

#skillsList ul {
	margin-left: 0;
	margin-top: 1px;
}

#skillsList li {
	list-style-type: none;
	margin-left: 0;
	font-style: italic;
	line-height: 115%;
}

#email {
	padding-bottom: 15px;
}

#resume {
	padding-top: 15px;
}

#aboutMe {
	padding-top: 10px;
	background: #153151;
	/*border-top: 2px solid #040A10;
	border-bottom: 2px solid #040A10;*/
}

nav a {
	margin: 0;
	font-weight: bold;
	color: #EFF4FB;
}

nav a:hover {
	color: #0078a0;
}

nav a[data-dropdown]:hover {
	color: #EFF4FB;
}

nav a[data-dropdown] {
	padding-bottom: 3px;
}

div.right-border {
	border-right: 1px solid white;
}

#arrowTop {
	opacity: 0.8;
	position: fixed;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	text-align: center;
	padding-bottom: 5px;
	display: none;
}

#arrowTop img {
	height: 40px;
	opacity: 0.8;
}

.has-tip {
	border-bottom: 0 !important;
}

#arrowTop img:hover {
	cursor: pointer;
}

footer {
	display: none;
	padding-bottom: 35px;
}

footer h4 {
	padding-bottom: 8px;
	line-height: 100%;
}

@media screen and (max-width: 1025px) {
	h1 {
		font-size: 1.7rem;
	}

	section {
		text-align: left;
	}
}

@media screen and (max-width: 850px) {
	#emailReduce {
		font-size: 12px;
	}
}

@media screen and (max-width: 641px) {
	div.right-border {
		border-right: 0;
	}

	div.bottom-border {
		border-bottom: 1px solid white;
	}

	#emailReduce {
		font-size: 100%;
	}

	h1 {
		font-size: 1.3rem;
	}

	#resume {
		border-top: 1px solid #153151;
	}
}

@media screen and (max-width: 500px) {
	section ul li h3 {
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 665px) {
	a[data-dropdown="drop"] {
		font-size: 90%;
	}
}



/* Colour Palette  ---  http://colllor.com/4786cf   */

	/*
	#040a10

	#081420

	#0d1d31

	#112741

	#153151

	#193b61

	#1d4572

	#214e82

	#265892

	#2a62a2

	#2e6cb2

	#3276c3

	#3c80cd

	#4786cf

	#5d95d5

	#6da0d9

	#7daade

	#8db5e2

	#9ebfe6

	#aecaea

	#bed5ee

	#cedff2

	#dfeaf7

	#eff4fb

	#ffffff
	*/