body {
	font-family: 'Lato', Verdana !important;
	text-align: center;
}

nav {
	background: #153151;
	color: #EFF4FB;
	padding: 10px;
	margin-bottom: 10px;
}

header img {
	border-radius: 10px;
	max-height: 250px;
}

header {
	text-shadow: 1px 0px 1px gray;
	text-align: center;
}

section h2 {
	font-size: 1.6rem;
	text-align: left;
	font-weight: bold;
	color: #DFEAF7;
}

section h2 .underline {
	border-bottom: 3px solid #DFEAF7;
}

.container.dark {
	background: #153151;
	color: #EFF4FB;
}

.container.light {
	background: #CEDFF2
}

#social img {
	max-height: 65px;
	min-height: 40px;
}

#social {
	padding-bottom: 20px;
}

#aboutMe {
	padding-top: 10px;
	background: #153151;
	/*border-top: 2px solid #040A10;
	border-bottom: 2px solid #040A10;*/
}

nav a {
	margin: 0;
	font-weight: bold;
	color: #EFF4FB;
}

nav a:focus {
	color: #EFF4FB;
}

nav a:hover {
	color: #0078a0;
}

div.right-border {
	border-right: 1px solid white;
}

@media screen and (max-width: 1025px) {
	h1 {
		font-size: 1.7rem;
	}

	section {
		text-align: justify;
	}
}

@media screen and (max-width: 850px) {
	#emailReduce {
		font-size: 12px;
	}
}

@media screen and (max-width: 641px) {
	div.right-border {
		border-right: 0;
	}

	div.bottom-border {
		border-bottom: 1px solid white;
	}

	#emailReduce {
		font-size: 100%;
	}

	h1 {
		font-size: 1.3rem;
	}
}



/* Colour Palette  ---  http://colllor.com/4786cf   */

	/*
	#040a10

	#081420

	#0d1d31

	#112741

	#153151

	#193b61

	#1d4572

	#214e82

	#265892

	#2a62a2

	#2e6cb2

	#3276c3

	#3c80cd

	#4786cf

	#5d95d5

	#6da0d9

	#7daade

	#8db5e2

	#9ebfe6

	#aecaea

	#bed5ee

	#cedff2

	#dfeaf7

	#eff4fb

	#ffffff
	*/