body {
	font-family: 'Lato', Verdana !important;
	text-align: center;
	background: url('../img/bigBackground.jpg') no-repeat center center fixed;
	background-size: cover;
}

.no-wrap {
	white-space: nowrap;
}

.caret {
	vertical-align: middle;
	display: inline-block;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #153151;
}

.caret-open {
	border-top: 0;
	border-bottom: 5px solid #153151;
}

nav {
	background: #153151;
	color: #EFF4FB;
	padding: 10px;
	position: fixed !important;
	z-index: 1;
	opacity: 0.9;
}

header, aside, section, footer {
	background: rgba(220, 220, 220, 0.5);
}

header img {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	max-height: 250px;
}

img.round {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

header {
	text-shadow: 1px 0px 1px gray;
	text-align: center;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	padding-top: 20px;
}

.info {
	position: relative;
	bottom: 15px;
}

section {
	text-align: left;
}

section ul {
	margin-top: 10px;
}

h1, h2, h3, h4 {
	font-family: 'Lato', Verdana;
}

section ul li {
	margin-left: 1rem;
}

#easter1, #easter2 {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

section h2 {
	font-size: 1.6rem;
	text-align: left;
	font-weight: bold;
	padding-top: 10px;
}

#projects li h3 {
	display: inline-block;
	padding-right: 3px;
}

#projects li h3:hover {
	cursor: pointer;
}

.container.light section h2, .container.light section h3, footer h4, h1 {
	color: #153151;
}

.container.light section h2 .underline {
	border-bottom: 	3px solid #153151;
}

.underline {
	padding-bottom: 4px;
}

.container.light {
	color: #040A10;
}

div.container.first {
	padding-top: 80px;
}

div.container.last {
	padding-bottom: 60px;
}

ul#drop, ul#drop li, ul#drop li a {
	opacity: 1 !important;
}

#social img {
	max-height: 65px;
	min-height: 40px;
}

#social a {
	display: inline-block;
	-webkit-transition: -webkit-transform 0.7s; 
    transition: transform 0.7s;
}

#social a:hover {
	-ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#social {
	padding-bottom: 20px;
	padding-top: 10px;
}

#skills blockquote {
	border-left: 4px solid #F54545;
	color: #292828;
	font-style: italic;
}

#skillsList {
	text-align: center;
	border-bottom: 1px solid #173b61;
}

#skillsList h4 {
	font-weight: bold;
	margin-bottom: 0;
	text-decoration: underline;
}

#skillsList ul {
	margin-left: 0;
	margin-top: 1px;
}

#skillsList li {
	list-style-type: none;
	margin-left: 0;
	font-style: italic;
	line-height: 115%;
}

#email {
	padding-bottom: 15px;
}

#resume {
	padding-top: 15px;
}

#aboutMe {
	padding-top: 10px;
	border-bottom: 1px solid #173b61;
}

nav a {
	margin: 0;
	font-weight: bold;
	color: #EFF4FB;
}

div.no-padding-left {
	padding-left: 0;
}

nav a.smooth-scroll {
	display: inline-block;
	width: 100%;
}

nav a:hover {
	color: #0078a0;
}

nav a[data-dropdown]:hover {
	color: #EFF4FB;
}

nav a[data-dropdown] {
	padding-bottom: 3px;
}

div.right-border {
	border-right: 1px solid white;
}

#arrowTop {
	opacity: 0.8;
	position: fixed;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	text-align: center;
	padding-bottom: 5px;
	display: none;
}

#arrowTop img {
	height: 40px;
	opacity: 0.8;
}

.has-tip {
	border-bottom: 0 !important;
}

#arrowTop img:hover {
	cursor: pointer;
}

footer {
	display: none;
	padding-bottom: 5px;
	-webkit-border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
	border-top: 1px solid #173b61;
}

footer h4 {
	padding-bottom: 8px;
	line-height: 100%;
}

@media screen and (max-width: 1025px) {
	h1 {
		font-size: 1.7rem;
	}

	section {
		text-align: left;
	}

	div.container.first {
		padding-top: 0;
	}

	div.container.last {
		padding-bottom: 0;
	}

	header {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		padding-top: 80px;
	}

	footer {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		padding-bottom: 35px;
	}
}

@media screen and (max-width: 850px) {
	#emailReduce {
		font-size: 12px;
	}
}

@media screen and (max-width: 641px) {
	div.right-border {
		border-right: 0;
	}

	div.bottom-border {
		border-bottom: 1px solid white;
	}

	#emailReduce {
		font-size: 100%;
	}

	h1 {
		font-size: 1.3rem;
	}

	#resume {
		border-top: 1px solid #153151;
	}
}

@media screen and (max-width: 500px) {
	section ul li h3 {
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 665px) {
	a.minimize {
		font-size: 94%;
	}
	
	div.mobile-robot-images {
		text-align: center;
	}

	div.mobile-robot-images img {
		max-height: 250px;
	}

	img.padding-top-small {
		margin-top: 15px;
	}

	div.no-padding-left {
		padding-left: 15px;
	}
}

@media screen and (max-width: 380px) {
	a.minimize {
		font-size: 75%;
	}

	p {
		margin-bottom: 0.8rem;
	}
}



/* Colour Palette  ---  http://colllor.com/4786cf   */

	/*
	#040a10

	#081420

	#0d1d31

	#112741

	#153151

	#193b61

	#1d4572

	#214e82

	#265892

	#2a62a2

	#2e6cb2

	#3276c3

	#3c80cd

	#4786cf

	#5d95d5

	#6da0d9

	#7daade

	#8db5e2

	#9ebfe6

	#aecaea

	#bed5ee

	#cedff2

	#dfeaf7

	#eff4fb

	#ffffff
	*/